.App {
  text-align: center;
}
 .Header {
  color: #9c9696;
  text-shadow: 1px 1px 5px #fff;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

} 

/* write your parent styles in here for your App.js */
